**/*.pyc
**/*.rej
**/*.orig
**/*.swp
**/.vscode/*
**/__pycache__/*
bazel-*
**/venv/*
**/.pytype/*
# Local .terraform directories and files.
**/.terraform/*
**/.terraform.*
# MacOS files.
**/.DS_Store
